* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

div {
    box-sizing: border-box;
}

.bold-word {
    font-weight: bold;
}

header a {
    color: #33325e;
}

header {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

.section {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.top-header-row {
    max-width: 1280px;
}

.dark-blue-word {
    color: #706f8d;
    text-decoration: none;
}

.dark-blue-word:hover {
    color: #21213f;
    border-color: #33325e;
}

.dark-blue-button {
    color: #ececf1;
    border-color: #5543ad;
    background-color: #5543ad;
}

.dark-blue-button:hover {
    background-color: #3a2d7d;
    border-color: #3a2d7d;
    box-shadow: 0px 0px 10px rgba(2, 12, 23, 0.463);
}

.personal-info-card {
    margin-top: 10px;
}

.avatar-patient {
    padding: 10px;
    object-fit: cover;
    width: 170px;
    height: 170px;
}

main {
    padding-top: 50px;
}

.section-title {
    color: #c7358b;
    font-weight: bold;
    position: relative;
    margin-bottom: 15px;
}

.sensor-info-details {
    margin-top: 15px;
    margin-bottom: 45px;
}

.sensor-card {
    box-shadow: 0px 0px 8px rgba(36, 98, 165, 0.3);
    background-color: #f6f8ff;
}

.sensor-card:hover {
    box-shadow: 0px 0px 20px rgba(2, 12, 23, 0.463);
}

.custom-card-title {
    border-bottom: 1px solid #e2e2e6;
    color: #33325e;
}

.sensor-card span {
    color: #706f8d;
}

.finish-div {
    text-align: center;
}

.finish-button {
    margin-top: 40px;
    width: 200px;
    height: 70px;
    background-color: #5543ad;
    border-radius: 40px;
    color: #ffffff;
    font-size: x-large;
    box-shadow: 0 10px 10px 0.1px rgba(2, 12, 23, 0.297);
}

.finish-button:hover {
    background-color: #3a2d7d;
    color: #ffffff;
    box-shadow: 0px 0px 10px rgba(2, 12, 23, 0.463);
}

@media (max-width: 767.98px) {
    .avatar-patient {
        width: 130px;
        height: 130px;
    }
}